/* Global Styles
---------------------------*/
body{
    color: #3A2E39;
}
img {
    width: 300px;
}
a{
    color: #fcbf49;
}
a:hover{
    text-decoration: none;
}

.content-wrap{
    width: 900px;
    margin: 0 auto;
}
/* Profile
---------------------------*/
header{
    background: #4E6E5D;
}


/* Projects
---------------------------*/
.projects{
    background: #fefae0;
}
.projects a{
    color: #4E6E5D;  
}
.projects .btn{
    background: #3A2E39;
    color:#ccd5ae;
    text-decoration: none;
    pading: 8px;
    border-radius: 4px;
}

.projects .btn:hover{
    background:rgba(58, 46, 57, 80%);
}
/* Work Experience
---------------------------*/
.work-experience{
    background: #ccd5ae;
}



/* Education
---------------------------*/




/* Contact Info

---------------------------*/
footer{
    background: #bc6c25;
}