/* Global Styles
---------------------------*/
body{
    color: #3A2E39;
}
img {
    width: 300px;
}

/* Profile
---------------------------*/
header{
    background: #4E6E5D;
}


/* Projects
---------------------------*/





/* Work Experience
---------------------------*/




/* Education
---------------------------*/




/* Contact Info

---------------------------*/